<launch>

  <!-- FIXME: Temporary static transform publisher in lieu of URDF + robot_state_publisher -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.2032 0 0 0 0 0 1 base_link laser 100" />

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

</launch>